<div class="entry-component-content">

  <div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> {{errorMessage}}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <form [formGroup]="statisticFilterForm" class="form-group">

    <div class="container">
      <div class="form-group">
        <h3><label>Github Repo URL</label></h3>
        <input formControlName="githubRepoURL"
               type="text"
               class="form-control form-control-lg"
               placeholder="Enter URL ...">
        <small class="text-muted">Example: https://github.com/twbs/bootstrap</small>
      </div>
    </div>

    <div class="container">
      <div class="mt-3">
        <h3 class="h6 d-block">Filter by collaborators:</h3>
        <div *ngIf="collaboratorsFormArray.controls.length"
             formArrayName="collaborators"
             class="entry-collaborators">
          <label *ngFor="let collaborator of collaboratorsFormArray.controls; let collaboratorFormIndex = index"
                 [formGroupName]="collaboratorFormIndex"
                 [ngClass]="{'is-active': collaboratorsFormArray.controls[collaboratorFormIndex].get('selected').value}"
                 class="entry-collaborator">
            <div class="media">
              <img src="{{collaboratorsFormArray.controls[collaboratorFormIndex].get('avatar').value}}"
                   alt="{{collaboratorsFormArray.controls[collaboratorFormIndex].get('login').value}}"
                   class="align-self-center mr-3">
              <div class="media-body align-self-center">
                <input type="checkbox" formControlName="selected" (change)="handleCollaboratorCheckboxChecked()">
                {{collaboratorsFormArray.controls[collaboratorFormIndex].get('login').value}}
              </div>
            </div>
          </label>
        </div>
        <div *ngIf="!collaboratorsFormArray.controls.length && !isLoadingCollaborators" class="text-muted">
          Please enter a repo URL first
        </div>
        <div *ngIf="errorMessageCollaborator" class="text-danger">
          You do not have permission to view collaborators
        </div>
        <div *ngIf="isLoadingCollaborators" class="d-flex align-items-center text-muted">
          <div class="spinner-border spinner-border-sm mr-2" role="status"></div>
          Loading collaborators ...
        </div>
      </div>
    </div>

    <div class="container">
      <div class="mt-3">
        <h3 class="h6 d-block">Filter by date range:</h3>
        <div *ngIf="statisticFilterForm.get('githubRepoURL').value.length">
          <div>
            <div class="input-calendar mb-1">
              <div class="d-inline-block">
                <button class="btn btn-secondary btn-round" (click)="prevWeek()">Prev Week</button>
              </div>
              <div class="d-inline-block">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Start Date</span>
                  </div>
                  <input ngbDatepicker
                          #d1="ngbDatepicker"
                          formControlName="startDate"
                          (focus)="d1.toggle()"
                          type="text"
                          class="form-control"
                          (dateSelect)="handleDateChange()">
                </div>
              </div>
              <div class="d-inline-block">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">End Date</span>
                  </div>
                  <input ngbDatepicker
                          #d2="ngbDatepicker"
                          formControlName="endDate"
                          (focus)="d2.toggle()"
                          type="text"
                          class="form-control"
                          (dateSelect)="handleDateChange()">
                </div>
              </div>
              <div class="d-inline-block">
                <button class="btn btn-secondary btn-round" (click)="nextWeek()">Next Week</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="filteredByUserPullRequests && filteredByUserPullRequests.length">
          <a  href="javascript:;" (click)="selectAndCopyData()">
            Select & Copy Data
          </a>
        </div>
        <div *ngIf="!statisticFilterForm.get('githubRepoURL').value.length" class="text-muted">
          Please enter a repo URL first
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container">
        <p *ngIf="isLoadingPullRequests" class="mt-3 text-muted">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading pull requests ...
        </p>
        <p class="notification-text mt-3" *ngIf="isShowNotiCopyData">
          Copied to Clipboard!
        </p>
        <p *ngIf="filteredByUserPullRequests && !filteredByUserPullRequests.length"
            class="mt-3">
          No pull request in this week
        </p>
      </div>
      <div *ngIf="filteredByUserPullRequests && filteredByUserPullRequests.length" class="table-responsive-sm entry-pulls mt-3">
        <table class="table table-bordered table-sm" id="data-table">
          <thead id="header-data-table">
          <tr>
            <th>Member</th>
            <th>Issue link</th>
            <th class="text-center">Tracker</th>
            <th class="text-center">Commit Link</th>
            <th class="text-center">No. Comment</th>
            <th class="col-line text-center">Line +</th>
            <th class="col-line text-center">Line -</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pull of filteredByUserPullRequests">
            <td class="text-center">{{pull.user.login}}</td>
            <td class="text-center"><a href="{{pull.html_url}}" target="_blank">{{pull.html_url}}</a></td>
            <td class="text-center"></td>
            <td class="text-center">{{pull.commits}}</td>
            <td class="text-center">{{pull.comments}}</td>
            <td class="col-line text-center">{{pull.additions}}</td>
            <td class="col-line text-center">{{pull.deletions}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
