@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.entry-component-content {
  padding-top: 6rem;
}

.entry-collaborators {
  label.entry-collaborator {
    display: inline-block;
    padding: 3px 7px 3px 3px;
    background: #eee;
    border-radius: 40px;
    cursor: pointer;
    margin: 0 5px 5px 0;
    transition: 100ms;
    user-select: none;
    font-size: 14px;

    &:hover,
    &.is-active {
      background: $primary;
      color: #fff;
    }
  }

  .media {
    img {
      width: 30px;
      border-radius: 50%;
    }
  }
}

table {
  font-size: 14px;
  .col-title {
    width: 200px;
  }

  .col-content {
    width: 300px;
  }

  .col-line {
    width: 70px;
  }
}

.input-calendar {
  position: relative;
  .btn-prev-week {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .btn-next-week {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.notification-text {
  background-color: #d7f7da;
  color: #275624;
}

